<div class="container" style="border: 1px solid silver;height:100px;">
<h1>
    Best Tunisia Travel
</h1>
</div>
<ul class="nav nav-tabs"> 
    <li class="nav-item"> 
        <a class="nav-link" routerLink="/hotel" routerLinkActive="active">Hotel en Tunisie</a> 
    </li> 
    <li class="nav-item"> 
        <a class="nav-link" routerLink="/voyageorganise" routerLinkActive="active">Voyage Organisé</a> 
    </li> 
    <li class="nav-item"> 
        <a class="nav-link" routerLink="/croisiere" routerLinkActive="active">Croisière</a> 
    </li> 
    <li class="nav-item"> 
        <a class="nav-link" routerLink="/omra" routerLinkActive="active">Omra</a> 
    </li> 
    <li class="nav-item"> 
        <a class="nav-link" routerLink="/gestion" routerLinkActive="active">Gestion</a> 
    </li>
</ul> 