  <div class="body" >
    <div class="box" >
        <h1>Connection</h1>
        <form action="">
            <div class="formul" >
                <input type="text" required>
                <label for="Email">
                    <span style="transition—delay: fts">E</span>
                    <span style="transition—delay: 50ms">m</span>
                    <span style="transition—delay: 100ms">a</span>
                    <span style="transition—delay: 15ems">i</span>
                    <span style="transition—delay: 200ms">l</span> 
                </label>
            </div>
            <div class="formul" >
                <input type="password" required>
                <label for=""> Mot de passe</label>
            </div>
            <button class="btn">
                Soumettre
            </button>
            <p class="texte" >Vous n'avez pas un compte? <a routerLink="/register" routerLinkActive="active">Inscrivez vous</a></p>
        </form>
    </div>
</div>