<div class="bg">
    <div>
        <form  class="container">
            <select #textbox class="form-select"id="opt" aria-label="Default select example" class="col-md-">
                <option selected>ou allez vous</option>
                <option *ngFor="let t of lesvilles;index as i" >{{t}}</option>
              </select>
              <label for="arrive">Arrivee</label> <input type="date" name="Arrive" id="arrive">
              <label for="depart">Depart</label><input type="date" name="départ" id="depart">
              <label for="nbChambre">nombre de chambres</label><input type="number" value="1" id="nbChambre">
              <label for="nbChambre">nombre de personnes</label><input type="number" value="1" id="nbPersonne">
              <div>{{villeSelected}}</div>
             <input type="button" (click)="onSubmit(textbox.value)" value="Rechercher"/>
            </form>


                    <ul class="list-group">

                    <li class="list-group-item" *ngFor="let a of leshotelsSearched"> {{a.name}} {{a.categorie}} {{a.rate}}  </li>
                </ul>
                {{leshotelsSearched|json}}
    </div>

</div> 