.bg{
    /* background-image:  url("../../assets/sidibou.jpg"); */
    background-color: white;
    height: 1000px;
    width: 1000px;
}
li{
    height: 400px;
}
img{
    float: left;
    height: 200px;
    width: 300px;
}
.c2{
    position: relative;
}

