<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<div class=" bg container">
    <div>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" class=" container">
            <div class="row mb-3 " >
            <select #textbox ngModel class="form-select form-select-sm" name="v" required aria-label="Default select example" class="col-md-">
                <option selected>ou allez vous</option>
                <option *ngFor="let t of lesvilles;index as i" >{{t}}</option>
              </select>
              <label for="arrive">Arrivée</label> 
              <input type="date" required class="col"  name="Arrive" min={{cValue}}  #arriver (change)="setDateArrive(arriver)" ngModel>

              <label for="depart">Depart</label>
              <input type="date" required class="col" name="départ" id="depart" value={{d1}} min={{d1}} (change)="change=true" ngModel #depart>
              <h3 *ngIf="change==true">
                {{getnights(arriver.value,depart.value)}} Nuit(s)

              </h3>
              <label for="">nombre de chambres</label>
              <select required name="nbChambre" #s ngModel (change)="ajoutPers(s)">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option> 
                <option value="5">5</option>
              </select>
              <div *ngFor="let n of nbChambre;index as i">
                <label for="">chambre {{i+1}}</label>
                <select required name="nbPersonneParChambre{{i}}"  class="form-select" ngModel>
                    <option value="1">1 Adulte</option>
                    <option value="2">2 Adultes</option>
                    <option value="3">3 Adultes</option>
                    <option value="4">4 Adultes</option>
                </select>
              </div>
              

              <div>{{villeSelected}}</div>
                <button [disabled] ="f.invalid" >Rechercher</button>            
            </div>
            </form>

            <ul class="list-group">

                <li class="list-group-item" *ngFor="let a of leshotelsSearched" >

                       <img src={{a.image}} alt="image de l'hotel"> 
                       <div class="row">
                        <div class="col-3"> 
                            <h3>
                                {{a.name}}
                            </h3>
                        </div>
                        <div class="col-5">
                            <ng-container *ngFor="let s of counter(a.etoile)">
                                <i class="fas fa-star" style="color:#ffcd0a;font-size: 16px; padding: 0px; margin: -2px;"></i>

                            </ng-container>
                        </div>
                             
                           <div class="col-3">
                            <h3>{{a.categorie}}</h3>
                           </div> 
                           <div class="col-1">

                            <span class="badge bg-success">{{a.rate}}</span>
                            
                           </div>
                           
                       </div>
                       <div>
                            <button class="btn" #p (click)="bool1=false;bool2=true;bool3=true;bool4=true;prix=calcul(p,a)">petitDej</button><button #d (click)="bool1=true;bool2=false;bool3=true;bool4=true;prix=calcul(d,a)">demiPension</button><button #pc (click)="bool1=true;bool2=true;bool3=false;bool4=true;prix=calcul(pc,a)">pensionComplete</button><button #all (click)="bool1=true;bool2=true;bool3=true;bool4=false;prix=calcul(all,a)">allIn</button>
                       </div> 
                       
                       <div *ngFor="let nb of nbChambre;index as i">
                           <b>chambre {{i+1}}</b><br>
                           <p *ngIf="0==i">{{getTypeChambre(f.value.nbPersonneParChambre0)}}    <span class="text-success">disponible</span></p>
                           <p *ngIf="1==i">{{getTypeChambre(f.value.nbPersonneParChambre1)}}    <span class="text-success">disponible</span></p>   
                           <p *ngIf="2==i">{{getTypeChambre(f.value.nbPersonneParChambre2)}}    <span class="text-success">disponible</span></p>   
                           <p *ngIf="3==i">{{getTypeChambre(f.value.nbPersonneParChambre3)}}    <span class="text-success">disponible</span></p>   
                           <p *ngIf="4==i">{{getTypeChambre(f.value.nbPersonneParChambre4)}}    <span class="text-success">disponible</span></p>   

                       </div>
                       <div>
                           <div *ngIf="!bool1">{{calcul(p,a)}}DT<br/> 
                               {{nbNuits}}Nuit(s) en Petit dejeun
                           </div>
                           <div *ngIf="!bool2">{{calcul(d,a)}}DT<br/> 
                            {{nbNuits}}Nuit(s) en DemiPension</div>
                           <div *ngIf="!bool3">{{calcul(pc,a)}}DT
                            <br/> 
                            {{nbNuits}}Nuit(s) en Pension complete
                           </div>
                           <div *ngIf="!bool4">{{calcul(all,a)}}DT<br/> 
                            {{nbNuits}}Nuit(s) en allIN</div>


                       </div>
                       <div>
                           <a [routerLink]="['/hotel',a.id,prix,arr,dep]" ><input class="btn btn-primary col-3" [disabled]="f.invalid" type="submit" value="Voir plus "></a>
                       </div>
                      
                      
                 </li> 
                </ul>
 
                
    </div>
</div> <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<footer>
    <div class="mt-5 p-4 bg-dark text-white text-center c2">
        <p><i class="fa fa-copyright" aria-hidden="true">2021/2022</i></p>
        <a class="nav-link" routerLink="/Admin" >S'authentifier en tant que admin</a>
      </div>
</footer>
