<div>
    <!-- Ajout d un hotel -->
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <label for="">Nom Hotel</label>
    <input type="text" placeholder="Nom de l'hotel" name='name'ngModel><br>
    <label for="">Emplassement de l'image</label>
    <input type="text" name='image' ngModel><br>
    <label for="">La ville</label>
    <select name="ville" id="" ngModel>
        <option *ngFor="let t of lesvilles;index as i" >{{t}}</option>
    </select><br>
    <label for="">Presisez la categorie</label>
    <input type="text"name="categorie" ngModel><br>
    <label for="">avis</label>
    <input type="text"name="avis" ngModel><br>
    <label for="">Note</label>
    <input type="number"name="rate" ngModel><br>
    <label for="">Etoile</label>
    <input type="number"name="etoile" ngModel><br>
    <form #f1="ngForm" (ngSubmit)="valider1(f1)">
        <!-- prix des chambres -->
    <h3>Prix des chambres</h3>
    <label >Single</label>
    <input type="number"name="single" ngModel><br>
    <label for="">chambre double</label>
    <input type="number"name="double" ngModel><br>
    <label for="">chambre triple</label>
    <input type="number"name="triple" ngModel><br>
    <label for="">chambre quadruple</label>
    <input type="number"name="quadruple" ngModel><br>
    <button>valider prix des chambres</button>
    </form>
    <form #f2="ngForm" (ngSubmit)="valider2(f2)">
        <!-- prix des catering -->
        <h3>Prix des catering</h3>
        <label >petitDej</label>
        <input type="number"name="petitDej" ngModel><br>
        <label for="">demiPensin </label>
        <input type="number"name="demiPension" ngModel><br>
        <label for="">pensionComplete</label>
        <input type="number"name="pensionComplete" ngModel><br>
        <label for="">allIn</label>
        <input type="number"name="allIn" ngModel><br>
        <button>valider prix catering</button>
        </form>
        
    <button>Ajouter hotel</button>
    </form>
    <!-- modifier un hotel -->
</div>
<button (click)="modifier()" >Modifier hotel existant</button>
<div *ngIf='modif==true'>
    <label for="">Entrer l'emplacement de l'hotel</label>
    <select name="ville" (change)="onSelectedE()" [(ngModel)]="ville">
        <option *ngFor="let t of lesvilles;index as i" >{{t}}</option>
    </select><br>
</div>
<div *ngIf="selectE==true">
    <label for="">Entrer le nom de l'hotel</label>
    <select name="hotel" (change)="onSelectedH()" [(ngModel)]="chaine">
        <option selected value="">select hotel</option>
        <option *ngFor="let t of leshotelsSearched;index as i" >{{t.name}}</option>
    </select><br>
</div>

<div *ngIf='selectH==true'>
    <form [formGroup]="productForm" (ngSubmit)="onChange()">
        <label for="">Nom hotel</label>
        <input type="text" name='name'formControlName="name"><br>
        <label for="">Emplassement de l'image</label>
        <input type="text" name='image' formControlName="image"><br>
        <label for="">La ville</label>
        <select name="ville" id="" formControlName="ville">
        <option *ngFor="let t of lesvilles;index as i" >{{t}}</option>
        </select><br>
        <label for="">Presisez la categorie</label>
        <input type="text"name="categorie" formControlName="categorie"><br>
         <label for="">avis</label>
        <input type="text"name="avis" formControlName="avis"><br>
        <label for="">Note</label>
        <input type="number"name="rate" formControlName="rate"><br>
        <label for="">Etoile</label>
        <input type="number"name="etoile" formControlName="etoile"><br>
        <form [formGroup]="productForm1">
            <h3>Prix des chambres</h3>
            <label >Single</label>
            <input type="number"name="single" formControlName="single"><br>
            <label for="">chambre double</label>
            <input type="number"name="double" formControlName="double"><br>
            <label for="">chambre triple</label>
            <input type="number"name="triple" formControlName="triple"><br>
            <label for="">chambre quadruple</label>
            <input type="number"name="quadruple" formControlName="quadruple"><br>
            <button>valider prix des chambres</button>
        </form>
        <form [formGroup]="productForm2">
            <h3>Prix des chambres</h3>
            <label >Single</label>
            <input type="number"name="petitDej" formControlName="petitDej"><br>
            <label for="">chambre double</label>
            <input type="number"name="demiPension" formControlName="demiPension"><br>
            <label for="">chambre triple</label>
            <input type="number"name="pensionComplete" formControlName="pensionComplete"><br>
            <label for="">chambre quadruple</label>
            <input type="number"name="allIn" formControlName="allIn"><br>
            <button>valider prix des chambres</button>
        </form>
    
    <button>modifier hotel</button>
    </form>
</div>
<button (click)="toDelete=true">hotel à supprimer</button>
<div *ngIf='toDelete==true'>
    <select name="hotelDelete" [(ngModel)]="hotelDel" (change)="supp=true">
        <option selected value="">select hotel</option>
        <option *ngFor="let t of leshotels;index as i" >{{t.name}}</option>
    </select><br>
    <button *ngIf="supp==true" (click)="deleteHotel()">supprimer l'hotel</button>

</div>
{{leshotels|json}}